body{
    background-image: linear-gradient(to right, black, gray);
    color: white;
    text-align: center;
}
#TOPFIGHTS{
    width: 99.2vh;
    height: 40px;
    margin: 0; 
    padding: 0;
    float: center;
    margin-left: 450px;
    text-align: center;
    background-image: linear-gradient(to left, blue, red, yellow);
}
li, ol, ul{
    margin-top: 100px;
    list-style-position: inside;
    font-size: 20pt;
}
footer{
    margin-top: 200px;
    width: 99.2vh;
    height: 40px;
    margin: 0; 
    padding: 0;
    float: center;
    margin-left: 450px;
    text-align: center;
    background-image: linear-gradient(to left, blue, red, yellow);
}
a{
    text-decoration: none;
    color: white;
}